<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load temp %}
{% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}  {% endblock title %}</title>

        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.css' %}">
      <style>
        .margin{
          margin-top: 200px;

          margin-bottom:140px;
        }
        .carousel-control-prev-icon {
    /* Use to adjust size of icons */
    
   
}
.carousel-control-next-icon {
    /*height: 3rem;*/
}
.next{
  margin-right: 20px;
}
.prev{
  margin-left: 20px;
}
.visually-hidden{
  font-size: 25px;

  /*margin-top: 1400px;*/
}
      </style>
    </head>
    <body>
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2><em>Recomendation</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="/about_us">About us</a></li>
              {% if user.is_authenticated and request.user|has_group:"Student" %}
              <li class="nav-item"><a class="nav-link" href="/studentpage">Student</a></li>
              <li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{user.username}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:8000/handelLogout/">Logout</a>

        </div>
      </li> 
          {% elif user.is_authenticated and request.user|has_group:"Recruiter" %}

          <li class="nav-item "><a class="nav-link" href="/blog">Recruiter</a></li>
          <li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{user.username}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:8000/handelLogout/">Logout</a>

        </div>
      </li> 
                {% else %}
                <li class="nav-item "><a class="nav-link" href="/Login">Login</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/Contact_us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% for message in messages  %}            
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
{% block body %}  {% endblock body %}
<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script></body>
</html>