<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
<h1 style="text-align: center">your resume has been uploaded successfully...</h1>
<h1 style="text-align: center">and all the details are uploaded to database successfully...</h1>
<h2>Mobile No..</h2>
<p>{{ mobno }}</p>
<h2>Email..</h2>
<p>{{ email }}</p>
<h2>Personal info..</h2>
<p>{{ pinfo }}</p>
<h2>Career Objective</h2>
<p>{{ obj }}</p>
<h2>Education..</h2>
<p>{{ edu }}</p>
<h2>Your Skills..</h2>
<p>{{ skills }}</p>
<h2>Achievements..</h2>
<p>{{ achieve }}</p>
<h2>Projects....</h2>
<p>{{ projects }}</p>
<h2>Extra Curricular Activiteies..</h2>
<p>{{ hobbies }}</p>

</body>
</html>